{% extends "BraincraftedBootstrapBundle::layout.html.twig" %}

{% block title 'Demo Bundle' %}

{% block body %}

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('_welcome') }}">Symfony</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="http://symfony.com/doc/current/quick_tour/the_big_picture.html">Quick Tour</a></li>
        <li><a href="{{ path('_configurator_home') }}">Configure</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Demo <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('_demo_hello', {'name': 'World'}) }}">Hello World</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('_demo_login') }}">Login</a></li>
            <li><a href="{{ path('_demo_secured_hello', {'name': 'World'}) }}">Secure Area</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    {% block content_header %}
    {% endblock %}

    <div class="block">
        {% block content %}{% endblock %}
    </div>

    {% if code is defined %}
        <div class="container">
            <h2>Code behind this page</h2>
            <div class="block">
                <div class="symfony-content">{{ code|raw }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}
